@charset "UTF-8";

body {
  background-image: url("https://png.pngitem.com/pimgs/s/135-1350644_gengar-hd-png-download-png-download-gengar-pokemon.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
