@charset "UTF-8";

.imagem {
  background-image: url("https://i.pinimg.com/736x/4a/70/5c/4a705c6ec3388714d59d1dea122944b1.jpg");
  height: 98vh;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center center;
}
